.image-container
  =image_tag 'pexels-photo-51415.jpeg'
  %h1 Announcements
.new-announcement-container
  = link_to 'Add announcement', '#',  id: 'new-announcement-link'
  .fas.fa-plus-circle
#new-announcement
  =render 'announcements/form'

%section.announcements#container
  =render @announcements
  .pagination
    =will_paginate @announcements, params: {is_active: true}