= form_for @group, remote: true do |f|
  .field
    = f.label :group_name
    = f.text_field :group_name
  .field
    =f.label :group_image
    =f.file_field :group_image
  .actions
    = f.submit 'Save'
