// Place all the styles related to the groups controller here.
// They will automatically be included in application.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-group
  display: none

.wrapper
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 1em
  justify-items: center
  .cell
    padding: 1em
    align-self: stretch

.paginate
  justify-items: center
